html, body{
  font-family: Arial, Helvetica;
  margin:0px;
  padding:0px;
  width:100%;
  height:100%;
  background-color: #222222;
}

#content {
  width:100%;
  height:100%;
  text-align: center;
}

.header {
  background-color: white; 
  padding:8px;
}

a:hover{
  color: plum;
}

.error{
  color:red;
  text-align:left;
}

input:disabled {
  opacity: 1 !important;
  color: #333333 !important;
}

.inverted{
  background-color: #222222 !important;
}

#loading_spinner_message{
  min-height:100px !important;
  vertical-align: top;
  color:white !important;
  padding-top:60px !important;
}